<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>

<div style="text-align:left">
  <div class="ui-menu">
    <ul>
      <li>
          <a routerLink='' routerLinkActive='active'>Main page</a>
      </li>
      <li>
          <a routerLink='/listing' routerLinkActive='active'>Listing</a>
      </li> 
      <router-outlet></router-outlet>
    </ul>
  </div>
</div>