.ui-menu{
  position: absolute;
  max-width: 700px;
}

.ui-menu ul {
    list-style: none none inside; 
    padding-left:0px;
    padding:0px;
    margin-left:0px;
    margin-right:35px;
    max-width: 1300px;
}

/*.selected {
    background-color: #CFD8DC !important;
    color: white;
  }*/

  /*
.list-of-products {
text-align: center;
position: relative;
margin: auto;
list-style-type: none;
margin-top: 25px;
max-width:700px;
height: 125px;
}
*/

.list-of-products li { 
display:inline-block;
position: relative;
left: 0;
margin-top:15px;
margin-bottom:15px;
}

.list-of-products li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.list-of-products li:hover {
  color: #607D8B;
  background-color: #DDD;
}

*/
/*
.list-of-products .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.7em 0.5em 0 0.7em;
  background-color: #607D8B;
  line-height: 0;
  position: relative;
  top: -10px;
  height: 125px;
  margin-right: .8em;
  margin-bottom: 0px;
  margin-left: -670px;
  border-radius: 4px 0 0 4px;
}*/

.item-name
{
    font-size: 30px;
    position: relative;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}