<h2>
  <h3>TO DO list:</h3>
  <div class="ui-menu">
    <ul class="list-of-products">
      <li *ngFor="let item of list[0].value">
        <div id = "{{item?.id}}" class="input-group">
            <input type="text" class="form-control" [ngModel]="item?.name" (ngModelChange)="item.name = $event" placeholder="Describe your task ...">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"  (click) = "updateElement(item?.id, item?.name)"><span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-danger" type="button" (click) = "removeElement(item?.id)">Delete</button>
            </span>
          </div>
      </li>
    </ul>
    <button class="btn btn-primary" type="button" (click) = "openModalWindow()">Add task</button>
  </div>
</h2>
<router-outlet></router-outlet>